h1 {
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
}

.border {
    border: 1px solid black;
    border-radius: 30px;
}

.canvas {
    width: 97vw;
    height: 85vh;
    margin: 0 1vw;
}

.electron {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid black;    
    border-radius: 25px;    
}

.electron__properties-1 {
    left: 300px; 
    top: 200px;
    background-color: darkslategray;
    z-index: 3;
}

.electron__properties-2 {
    left: 725px;
    top: 375px;
    background-color: yellowgreen;
    z-index: 3;
}

.electron__properties-3 {
    left: 295px; top: 550px;
    background-color: chocolate;
    z-index: 3;
}

.orbit {
    position: absolute;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 250px/100px;    
}

.orbit__position-1 {
    rotate: 45deg;
    top: 300px;
    left: 250px
}

.orbit__position-2 {
    rotate: -45deg;
    top: 300px;
    left: 250px
}

.orbit__position-3 {
    rotate: 0;
    top: 300px;
    left: 250px
}

.core {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50px;
    background-color: red;
}

.core__properties {
    top: 350px;
    left: 450px;
}

.core__properties {
    animation: circle 2s infinite linear;
}

.electron__properties-1 {
    animation: 5s infinite linear electron__move-1;
}

.electron__properties-2 {
    animation: 3s infinite linear electron__move-2;
}

.electron__properties-3 {
    animation: 4s infinite linear electron__move-3;
}

@keyframes circle {
    to {
        transform: rotate(1turn);
    }
}

@keyframes electron__move-1 {
    from {left: 300px; top: 200px;}
    12.5% {left: 420px; top: 210px;}
    25% {left: 550px; top: 310px;}
    37.5% {left: 650px; top: 470px;}
    50% {left: 650px; top: 550px;}
    62.5% {left: 530px; top: 540px;}
    75% {left: 400px; top: 440px;}
    87.5% {left: 300px; top: 300px;}
    to {left: 300px; top: 200px;}
}

@keyframes electron__move-2 {
    from { left: 725px; top: 375px;}
    12.5% { left: 600px; top: 460px;}
    25% { left: 475px; top: 475px;}
    37.5% { left: 300px; top: 450px;}
    50% { left: 225px; top: 375px;}
    62.5% { left: 300px; top: 300px;}
    75% { left: 475px; top: 275px;}
    87.5% { left: 600px; top: 285px;}
    to { left: 725px; top: 375px;}
}

@keyframes electron__move-3 {
    from { left: 295px; top: 550px; }
    12.5% { left: 290px; top: 470px; }
    25% { left: 400px; top: 310px; }
    37.5% { left: 500px; top: 225px; }
    50% { left: 645px; top: 200px; }
    62.5% { left: 655px; top: 275px; }
    75% { left: 550px; top: 440px; }
    87.5% { left: 430px; top: 530px; }
    to { left: 295px; top: 550px; }
}